# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [54]:
# Run this code:

salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [55]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [56]:
# Your code here: percentage of nulls
salaries.isnull().sum()/salaries.shape[0]

Name                 0.00000
Job Titles           0.00000
Department           0.00000
Full or Part-Time    0.00000
Salary or Hourly     0.00000
Typical Hours        0.75825
Annual Salary        0.24175
Hourly Rate          0.75825
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [57]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [58]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [59]:
# Your code here:
from scipy.stats import ttest_1samp

- H0 = $30/h.

- HA != $30/h.

- α = 0.05

In [60]:
hourly_rate = salaries['Hourly Rate'].dropna()

In [26]:
hypothesis_test = ttest_1samp(hourly_rate, 30)

In [27]:
hypothesis_test

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [28]:
print('\033[96m' + '\033[4m'+ 'We can reject the H0 meaning that the hourly wage of all hourly workers is significantly different from $30/h.')

We can reject the H0 meaning that the hourly wage of all hourly workers is significantly different from $30/h.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [33]:
# Your code here:
salaries_police_force = salaries[salaries['Department']=='POLICE']
salaries_police_force['Annual Salary']

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13414, dtype: float64

In [30]:
salaries_police = salaries_police_force['Annual Salary'].dropna()

In [34]:
hypothesis_test = ttest_1samp(salaries_police, 86000 , alternative = 'greater')

In [35]:
hypothesis_test

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0010301701775482569)

In [36]:
print('H0 is rejected, police salaries are higher than last year')

H0 is rejected, police salaries are higher than last year

Using the `crosstab` function, find the department that has the most hourly workers.

In [40]:
# Your code here:
most_hourly_workers = pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values('Hourly', ascending = False)
most_hourly_workers[:1]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [44]:
# Your code here:
streetsnstan_wages = salaries[salaries['Department'] == 'STREETS & SAN']
streetsnstan_wages.head(2)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43

In [45]:
streetsnstan_hourly_wages = streetsnstan_wages['Hourly Rate'].dropna()

In [48]:
hypothesis_test = ttest_1samp(streetsnstan_hourly_wages, 35, alternative = 'less')
hypothesis_test

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21)

In [50]:
print('H0 is rejected. Workers can complain since they have less than $35/h wages')

H0 is rejected. Workers can complain since they have less than $35/h wages

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [62]:
# Your code here:
import scipy.stats as st

st.t.interval(alpha=0.95, loc=np.mean(hourly_rate), scale=st.sem(hourly_rate), df= len(hourly_rate)-1)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [64]:
annual_salary = salaries['Annual Salary'].dropna()
annual_salary

0        101442.0
1         94122.0
2        101592.0
3        110064.0
5         50436.0
           ...
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
33182    115932.0
Name: Annual Salary, Length: 25161, dtype: float64

In [65]:
# Your code here:
st.t.interval(alpha=0.95, loc=np.mean(annual_salary), scale=st.sem(annual_salary), df= len(annual_salary)-1)

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [67]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [73]:
hourly = salaries['Salary or Hourly'].value_counts()[1:]
hourly

Hourly    8022
Name: Salary or Hourly, dtype: int64

In [83]:
count = hourly
nobs = salaries.shape[0]
value = 0.25
proportions_ztest(count, nobs, value)

(array([-3.50999642]), array([0.00044811]))

In [84]:
print('H0 rejected, hourly workers is different from 25%')

H0 rejected, hourly workers is different from 25%